
@{
    ViewBag.Title = "Error 400";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Response.StatusCode = 400;
}

<h2>Error 400 - Bad request</h2>
<p>It looks like page exist but you have entered wrong data. Please, try again!</p>
