
@{
    ViewBag.Title = "Error 500";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Response.StatusCode = 500;
}

<h2>Error 500 - Internal server error</h2>
<p>Ups, it looks like something broke on our side! Try again later</p>
