<div class="rect-status-wrapper">
    <svg class="rect-status">
        <rect class="rect-status__inside" width="910" height="341" />
        Sorry, your browser does not support inline SVG.
    </svg>
</div>