.rect-status__inside {
    fill: transparent;
    stroke-width: 16;
    stroke: orange;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
}

.rect-status-wrapper {
    position: absolute;
}

.rect-status-wrapper-fixed {
    position: fixed;
}

.rect-status-container {
    display: flex;
    justify-content: center;
}
